{erl_opts, [
  debug_info, fail_on_warning
]}.

{deps, [
  {ibrowse, ".*",
    {git, "git@github.com:cmullaparthi/ibrowse.git", "master"}},
  {meck, ".*",
    {git, "https://github.com/eproxus/meck.git", {tag, "0.8"}}},
  {jsx, ".*",
    {git, "git@github.com:talentdeficit/jsx.git", "develop"}},
  {sync, ".*",
    {git, "git@github.com:rustyio/sync.git", "master"}}
]}.

